
@import './utils/variables';
@import './utils/mixins';
@import './utils/functions';

@import './base/_reset.scss';

@import './layout/footer';
@import './layout/header';
@import './layout/navigation';

@import './pages/home';
@import './pages/products';
@import './pages/shopping';
@import './pages/checkout';

@import './components/buttons';
@import './components/carousel';

@import './themes/theme';



body
{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    border-radius: 10%;
    background-color: #f5f6f7;
    a
    {
        text-decoration: none;
        color: white;
    }
}
main
{
    border-radius: 1em;
    margin: 5em; padding: 1em;
    border: 0.5px solid #DFE1E6;
    background-color: #FFFFFF;
}
h2
{
    font-weight: bold;
    font-size: large;
}
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    /* CSS */
    
  }