footer
{
    height: 5em;
    background-color: #FFFFFF;
    border-top: 0.5px solid #DFE1E6;
    display: flex;
    place-content: center;
    h4 
    {
        color: black;
        margin-top: 2em;
    }
}
