.nav-place
{
    display: flex;
    justify-content: space-between;
    height: auto;
    border-bottom: 0.5px solid #DFE1E6;
    background-color: #FFFFFF;
}
.logoplace
{
    margin-left: 2em;
}
.logo
{
    width: 15rem;
    margin: 0;
}