.link_cam
{
    background-color: white;
    border: 1px solid #DFE1E6;
    border-radius: 25%;
    width: 11em; height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    a 
    {
        color: #2c2c54;
        font-weight: bold;
        &:visited
        {
            color: brown;
        }
    }
    &:hover
    {
        background-color: black;
        a + i
        {
            color: white;
        }
    }
}